version: '2'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: rosafilgueira/kakfa_docker
    ports:
      - "9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 129.114.108.142
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "android:1:1,acceleration:1:1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  master:
    image: jupyter/pyspark-notebook
    hostname: master
    environment:
      MASTER: spark://129.114.108.142:7077
      SPARK_CONF_DIR: /conf
      SPARK_PUBLIC_DNS: localhost
    expose:
      - 7001
      - 7002
      - 7003
      - 7004
      - 7005
      - 7006
      - 7077
      - 6066
    ports:
      - 4040:4040
      - 8080:8080
      - 7077:7077
      - 6066:6066
    volumes:
      - ./conf/master:/conf
      - ./data:/home/jovyan/work
    command: /usr/local/spark/bin/spark-class org.apache.spark.deploy.master.Master -h master
  
  cassandra:
    image: cassandra:2.2.0
    hostname: cassandra
    ports:
      - "9042:9042"
  slave:
    image: jupyter/pyspark-notebook
    hostname: worker
    depends_on:
      - master
    environment:
      SPARK_CONF_DIR: /conf
      SPARK_WORKER_CORES: 1
      SPARK_WORKER_MEMORY: 1g
      SPARK_WORKER_PORT: 8881
      SPARK_WORKER_WEBUI_PORT: 8081
      SPARK_PUBLIC_DNS: localhost
    links:
      - master
      - kafka
      - cassandra
    expose:
      - 7012
      - 7013
      - 7014
      - 7015
      - 7016
      - 8881
    ports:
      - 8081:8081
    volumes:
      - ./conf/worker:/conf
      - ./data:/home/jovyan/work
    command: /usr/local/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://129.114.108.142:7077 -d /home/jovyan/work
    

  notebook:
    image: jupyter/pyspark-notebook
    hostname: jupyter
    depends_on:
      - master
    ports:
      - 8888:8888
    volumes:
      - ./data:/home/jovyan/work
    command: "start-notebook.sh --NotebookApp.token=''"

